<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="auth">Authentification</a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="appareils">Appareils</a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="edit">Nouvel appareil</a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" routerLink="users">Utilisateurs</a>
    </li>
  </ul>
</nav>

<div class="navbar-right">
  <p>Vous êtes connecté depuis {{ secondes }} secondes !</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
